SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbErrorLogs](
	[ERR_NUMBER] [float] NULL,
	[ERR_SEVERITY] [varchar](100) NULL,
	[ERR_STAT] [varchar](100) NULL,
	[ERR_PROCEDURE] [varchar](100) NULL,
	[ERR_LINE] [varchar](100) NULL,
	[ERR_MESSAGE] [varchar](1000) NULL,
	[CREATED_BY] [varchar](15) NULL,
	[CREATED_DATE] [datetime] NULL
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[TbErrorLogs] ADD  CONSTRAINT [DF_TB_FINS_ERR_LOGS_CREATED_DATE]  DEFAULT (getdate()) FOR [CREATED_DATE]
GO
