@{
    Layout = "~/Views/Shared/_LayoutAreaRw.cshtml";
    ViewBag.Title = "Personal";
}

<section class="services-area section-gap">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content  col-lg-7">
                <div class="title text-center">
                    <h1 class="mb-10">Services</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <span class="lnr lnr-map lnr-book"></span>
                    <a href="#"><h4>Buku Petunjuk</h4></a>
                    <p>
                        Setiap warga yang bedomisili di Lingkungan akan menjdapatkan buku petunjuk dalam bersikap maupun berkewargaan di wilayah ini
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <span class="lnr lnr-car"></span>
                    <a href="#"><h4>Area Parkir</h4></a>
                    <p>
                        Disediakan area parkir di beberapa titik yang sudah ditentukan (khusus hanya untuk kendaraan roda 4)
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <span class="lnr lnr-cart"></span>
                    <a href="#"><h4>Swalayan</h4></a>
                    <p>
                        Di lingkungan RW ini terdpat banyak tempat berbelanja, baik modern maupun tradiosional.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <span class="lnr lnr-sun"></span>
                    <a href="#"><h4>Taman Bermain</h4></a>
                    <p>
                        Disedikan taman bermain terbuka baik yang disediakan warga maupun pemerintah (RPTRA)
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <span class="lnr lnr-lighter"></span>
                    <a href="#"><h4>Security</h4></a>
                    <p>
                        Untuk penjagaan lingkungan, di setiap RT kita telah siapkan linmas yang berjaga di waktu malam.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <span class="lnr lnr-trash"></span>
                    <a href="#"><h4>Tempat Sampah</h4></a>
                    <p>
                        Di beberapa titik kita sediakan tempat sampah, contoh : di ruang terbuka bermain. Sedangkan untuk sampah rumah tangga bisa berkoordinasi melalui ketua RT setempat
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
